* {
    font-family: 'Nunito', sans-serif;   
    color: antiquewhite;
}

body {
    background-color: rgb(41, 38, 38);
}
/* Center-aligns the first text on the page from 'You are...-'on my journey.'*/
main {
    text-align: center;
}
/*"You are welcomed."*/
h1 {
    padding-top: 150px;
    font-size: 75px;
    animation: fadeIn 8s;
    text-shadow: 4px 4px 13px #d08686;
}
/* "To my portfolio & on my journey."*/
main h3, h4 {
    margin: 0%;
    animation: fadeIn 10s;
}
/* "And on my journey."*/
main h4  {
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 100px;
    animation: fadeIn 8s;
}
/* "on my journey"*/
h4 span {
    font-style: italic;
    animation: fadeIn 6s;
}
/* This code block provides parameters for the fadeIn transition*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* section for the main 4 clickable links in nav section*/
  nav li {
    transform: skew(-25deg);
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    background-image: linear-gradient(    
        -225deg,
    #201c1d 0%,
    #36292f 29%,
    #70445653 67%,
    #fff7002a 100%);
  }

/* When hover over the nav links, on focues each box should shrink left, then ease out when not
nav li:hover:after {
   flex-grow: 3 0;
}*/

a {
    color: #cf9393;
    text-decoration: none;
    text-shadow: 4px 4px 13px #d08686;
}

.portfolio {
    background-color: #201c1d;
    border: solid 2px magenta;
    padding: 50px 0px;
}
/* "A collection of my work"*/
.portfolio header {
    padding-top: 100px;
    border: 2px solid red;
    text-align: center;
    font-size: 50px;
}

.portfolio header span {
    font-style: italic;
    font-size: 15px;
}

.portfolio-content {
    display: flex;
    border: 2px solid green;
    background-color: black;
    text-align: center;
    padding: 0;
    margin-left: 0;
}

.portfolio-content li {
    list-style-type: none;
    border: 2px solid rgb(0, 247, 255);
    background-color: #323232;
    color: rgb(255, 255, 0);
    margin: auto;
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

.time-wasters {
    background-color: #0c0a0b;
    border: solid 2px rgb(0, 195, 255);
    padding: 50px 0px;
}
/* "Some fun experiments."*/
.time-wasters header {
        padding-top: 100px;
        border: 2px solid red;
        text-align: center;
        font-size: 50px;
}

.time-wasters-content {
    display: flex;
    border: 2px solid green;
    background-color: black;
    text-align: center;
    padding: 50px;
    padding: 0;
    margin-left: 0;
}

.time-wasters-content li {
    list-style-type: none;
    border: 2px solid rgb(0, 247, 255);
    background-color: #323232;
    color: rgb(255, 255, 0);
    margin: auto;
    width: 100%;
    height: 200px;
}
/* "Curriculum vitae" */
.all-business {
    border: solid 3px rgb(153, 0, 255);
    padding: 50px 0px;
    text-align: center;
    font-size: 30px;
}

.contact {
    border: #0c0a0b solid 4px;
    padding: 100px 50px
}
/* "Camile Sullins"*/
.contact header {
   font-size: 20px;
}

.contact img {
    border-radius: 50%;
    box-shadow: 4px 4px 13px #d08686;
    width: 100px;
    height: 100px;
}


.contact-answer {
    font-style: italic;
}
input, textarea {
    background-color: #201c1d;
    border: none;
}

.button-submit {
    box-shadow: 4px 3px 8px #d08686;
    background: #2d2829a2;
    transition: background 0.5s ease-in-out;
}

.button-submit:hover {
    background: #c97f7f54;
}